# General stuff
TODO
tmp/
log/
*.log

# macOS
.DS_Store

# Vim
*.swp

# Sublime
*.sublime-project
*.sublime-workspace

# node
node_modules
package-lock.json

# LaTeX
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.xdv

# Octave / Matlab
octave-workspace

# Python
*.pyc
.ipynb_checkpoints/

# IDEs
.idea/

# C++
cmake-build-debug/
