[user]
	name = Florian H.
	email = jscoderr@gmail.com
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[alias]
	auth = !ssh-add ~/id_rsa
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	a = add
	aa = add -A
	b = branch
	c = commit -m
	ca = commit -am
	co = checkout
	d = diff --word-diff=color
	f = fetch
	g = grep
	graph = log --oneline --graph
	h = help
	i = init
	ig = ignore
	k = !gitk
	l = log
	m = merge
	p = push
	pt = !git push && git  push --tags
	pl = pull
	r = reset
	rb = rebase
	re = revert
	s = status
	sl = log --oneline
	ss = status -sb
	st = stash
	t = tag
	watch = !watch --interval=1 git status
	w = !git watch
[credential]
	helper = osxkeychain
[help]
	autocorrect = 7
[apply]
	whitespace = fix
