[user]
	name = Florian H.
	email = jscoderr@gmail.com
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[alias]
	a = add
	aa = add -A
	amend = commit --amend
	auth = !ssh-add ~/id_rsa
	b = branch
	c = commit -m
	ca = commit -am
	cl = clone --reverse
	co = checkout
	d = diff --word-diff=color
	f = fetch
	g = grep
	graph = log --oneline --graph
	h = help
	i = init
	ig = ignore
	k = !tig
	l = log
	m = merge
	p = push
	pl = pull
	pt = !git push && git  push --tags
	r = reset
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	re = revert
	s = status
	sl = shortlog
	ss = status -sb
	st = stash
	t = tag
	u = unstage
	uncommit = reset --soft HEAD^
	unstage = reset HEAD
	w = !git watch
	watch = !watch git status -sb
[credential]
	helper = osxkeychain
[help]
	autocorrect = 7
[apply]
	whitespace = fix
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
