# General stuff
TODO
tmp/
log/
*.log

# OS X
.DS_Store

# Vim
*.swp

# Sublime
*.sublime-project
*.sublime-workspace

# node
node_modules

# LaTeX
*.aux
*.log
*.out
*.fls
*.fdb_latexmk

# Octave / Matlab
octave-workspace
